{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.yaml",
      "options": {
        "parser": "yaml"
      }
    },
    {
      "files": "*.jsonnet",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}